<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white ">
  <a class="navbar-brand ">Chat application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link " routerLink="/registration" routerLinkActive="active" >Sign Up </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row m-auto">
  <div class="col-md-6 offset-3">
    <h1 class="text-dark text-center mb-4 mt-4">Registration</h1>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is required.</label>
      </div>
      <div class="form-group required">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email && service.formModel.get('Email').errors?.required">Invalid email address.</label>
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This field is required.</label>
      </div>
      <div class="form-group required" >
        <label>Full Name</label>
        <input class="form-control" formControlName="FullName">
        <label class="text-danger" *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">This field is required.</label>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is required.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 8 characters required.</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is required.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>