<header>
  <div class="logo-container">
    <h4 class="logo-label">Chat application</h4>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link " routerLink="/registration" routerLinkActive="active" >Sign Up </a></li>
      <li><a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a></li>
    </ul>
  </nav>
</header>


<div class="row m-auto">
  <div class="col-md-6 offset-3">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field Username is required.</label>
      </div>
      <div class="form-group required">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email && service.formModel.get('Email').errors?.required">Invalid email address.</label>
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This field Email is required.</label>
      </div>
      <div class="form-group required" >
        <label>FullName</label>
        <input class="form-control" formControlName="FullName">
        <label class="text-danger" *ngIf="service.formModel.get('FullName').touched && service.formModel.get('FullName').errors?.required">This field FullName is required.</label>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field Password is required.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.pattern">The field Password must contain at 3 of 4 of the following: upper case (A-Z), lower case (a-z), number (0-9) and special character (e.g. !@#$%^&*)</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field ConfirmPassword is required.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>
      <div class="form-row">
          <button type="submit" class="submit-button" [disabled]="!service.formModel.valid">Sign Up</button>
      </div>
    </form>
  </div>
</div>