<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white ">
  <a class="navbar-brand ">Chat application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link " routerLink="/registration" routerLinkActive="active" >Sign Up </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<form #form='ngForm' class="mb-4 mt-4" autocomplete="off" (keydown.enter)="OnSubmit(form)" (submit)="onSubmit(form)">
  <div class="form-group">
    <label>Username</label>
    <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Login</button>
    </div>
  </div>
</form>