.container {
  max-height: 60vh;
}
.inBox {
  clear: both;
 
}
.messageBox p {
  background: #c36cbb none repeat scroll 0 0;
  border-radius: 5px;
  color: #e7dbdb;
  font-size: 14px;
  margin: auto;
  padding: 5px 10px 5px 12px;
  width: 40%;
}
.time-date {
  color: black;
  display: block;
  font-size: 12px;
  margin: 0px 0 5px;
}

.received-withd_msg {
  width: 96%;
  margin: auto;
}

.input-msg-write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #0e0a0a;
  font-size: 15px;
  min-height: 48px;
  width: 65%;
  margin: auto; 
}


textarea:focus, input:focus{
  outline: none;
}

.type-msg {
  position: relative;
}

.msg-send-btn {
  width: 55px;
  margin: 20px auto 0px auto;
	border: 3px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.msg-send-btn:hover{
  margin: 20px auto 0px auto;
  background: #c36cbb;
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 4px;
}

.chatBox {
  padding: 0 0 50px 0;
}

.msg-scroll:hover {
  height: 60vh;
  overflow-y: auto;

}
.msg-scroll {
  height: 60vh;
  overflow-y: hidden;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links
{
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo-label {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: flex-end;
	list-style: none;
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.nav-link:hover {
  color:#c36cbb;
}

.form-container{
    display: flex;
    margin: auto;
    margin-top: 15vh;
    width: 20%;
}

.form{
    flex:1;
    align-items: center;
    justify-content: center;
}
.submit-button{
    margin: 20px auto 0px auto;
	border: 3px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.submit-button:hover{
    margin: 20px auto 0px auto;
    background: #c36cbb;
	width: 150px;
	height: 45px;
	cursor: pointer;
	font-size: 16px;
    border: none;
    color: white;
    border-radius: 4px;
}